numpy
pandas
matplotlib
networkx
scipy
scikit-learn
gensim
nltk
cython
setuptools
wheel
python-louvain
notebook
seaborn
pyldavis
hypernetx
mplcursors
phate
sparse_dot_topn
wordcloud
PyPDF2
tqdm
pytest
pytest-cov
watchdog
colorcet